---


# using fixed ip addresses so opennms provisoning config works
# to see all network use docker network ls
# to see config use docker network inspect minimal-minion-activemq_N000
# note gateway is 172.20.0.1 
networks:
  N000:
    ipam:
      config:
        - subnet: 172.20.0.0/24


volumes:
  db_data: {} # data for mariadb / wordpress
  wp_data: {} # data for load balanced word press servers

services:

  nginx:
    image: nginx:1.23-alpine
    #image: exoplatform/nginx:1.26.3  # has nginx-sticky-module-ng to adds session persistence
    container_name: nginx
    hostname: nginx
    restart: unless-stopped
    volumes:
      - ./container-fs/nginx/conf.d:/etc/nginx/conf.d
      - ./container-fs/nginx/certs:/etc/ssl/certs
      - ./container-fs/nginx/private:/etc/ssl/private
      - ./container-fs/nginx/html/index.html:/usr/share/nginx/html/index.html
    ports:
      - "80:80"
      - "443:443"
    networks:
      N000:
        ipv4_address: 172.20.0.5

  # word press example modified from 
  # https://github.com/docker/awesome-compose/tree/master/wordpress-mysql
  
  # test wordpress database
  db:
    # We use a mariadb image which supports both amd64 & arm64 architecture
    image: mariadb:10.6.4-focal
    # If you really want to use MySQL, uncomment the following line
    #image: mysql:8.0.27
    container_name: db
    hostname: db
    command: '--default-authentication-plugin=mysql_native_password'
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=somewordpress
      - MYSQL_DATABASE=wordpress
      - MYSQL_USER=wordpress
      - MYSQL_PASSWORD=wordpress
    expose:
      - 3306
      - 33060
    networks:
      N000:
        ipv4_address: 172.20.0.70
      
  # test wordpress site
  wordpress1:
    depends_on:
      - db
    image: wordpress:latest
    container_name: wordpress1
    hostname: wordpress1
    ports:
      - 8001:80
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_TABLE_PREFIX: "wp_"
      WORDPRESS_DEBUG: 1
    # note working dir must match the url root of wordpress installation
    working_dir: /var/www/html/wordpress
    # vstm: add shared volume
    volumes:
      - wp_data:/var/www/html
    networks:
      N000:
        ipv4_address: 172.20.0.80
        
#  # test wordpress site
  # test wordpress site
  wordpress2:
    depends_on:
      - db
    image: wordpress:latest
    container_name: wordpress2
    hostname: wordpress2
    ports:
      - 8002:80
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_TABLE_PREFIX: "wp_"
      WORDPRESS_DEBUG: 1
    # note working dir must match the url root of wordpress installation
    working_dir: /var/www/html/wordpress
    # vstm: add shared volume
    volumes:
      - wp_data:/var/www/html
    networks:
      N000:
#        ipv4_address: 172.20.0.82
#        
#  # word press server 3
#  wordpress3:
  # test wordpress site
  wordpress3:
    depends_on:
      - db
    image: wordpress:latest
    container_name: wordpress3
    hostname: wordpress3
    ports:
      - 8003:80
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_TABLE_PREFIX: "wp_"
      WORDPRESS_DEBUG: 1
    # note working dir must match the url root of wordpress installation
    working_dir: /var/www/html/wordpress
    # vstm: add shared volume
    volumes:
      - wp_data:/var/www/html
    networks:
      N000:
        ipv4_address: 172.20.0.83

  # word press cli used to set up the word press site we are monitoring without manual intervention
  # see https://stackoverflow.com/questions/50999848/how-to-run-wp-cli-in-docker-compose-yml
  wordpress-cli:
    depends_on:
      - db
      - wordpress1
      - wordpress2
      - wordpress3
    image: wordpress:cli
    container_name: wordpress-cli
    hostname: wordpress-cli
    # vstm: This is required to run wordpress-cli with the same
    # user-id as wordpress. This way there are no permission problems
    # when running the cli
    user: '33'
    # vstm: The sleep 20 is required so that the command is run after
    # mysql is initialized. Depending on your machine this might take
    # longer or it can go faster.
    # note path must match working_dir and must match the url root of wordpress installation
    command: >
      /bin/sh -c '
      sleep 20;
      wp core install --path="/var/www/html/wordpress" --url="https://localhost/wordpress" --title="Local Wordpress By Docker" --admin_user=admin --admin_password=secret --admin_email=foo@bar.com
      '
    # vstm: add shared volume
    volumes:
      - wp_data:/var/www/html
    # WP CLI needs the environment variables used for the Wordpress image
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_TABLE_PREFIX: "wp_"
    networks:
      N000:
        ipv4_address: 172.20.0.81



